<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560108261341-2rd2sjv7dt9uiufkfj38qvg9h73bljif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560108261341-2rd2sjv7dt9uiufkfj38qvg9h73bljif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>560108261341-gnqagg43erfrnjg073l97pk6m2pee3nc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyteTPXhIkFIuZ5WHAq1BTGL9jrrkOYEs</string>
	<key>GCM_SENDER_ID</key>
	<string>560108261341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.360art.mahabharata</string>
	<key>PROJECT_ID</key>
	<string>mahabharata-4bb72</string>
	<key>STORAGE_BUCKET</key>
	<string>mahabharata-4bb72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560108261341:ios:06af7f16568a2d171d7034</string>
	<key>DATABASE_URL</key>
	<string>https://mahabharata-4bb72.firebaseio.com</string>
</dict>
</plist>